.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
input-group .cart-quantity-input {
    width: 60px;
    text-align: center;
}

.input-group .qty-decrease, .input-group .qty-increase {
    min-width: 35px;
}

@media (max-width: 480px) {
    .cart-column {
        display: block;
    }
    .cart-item-title{
        margin-left: 0;
        display: flex;
        margin-top: 40px;
    }
    .cart-quantity{
        width: 60%;
    }
}
.wdda{
    position: sticky;
    top: 0;
    
}   


input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

.card {
    border-radius: 20px;
}